{% extends "layout.html" %}
{% block content %}
 <!-- Se crea un formulario para agregar un área, aplicando estilos específicos desde una hoja de estilo CSS y añadiendo efectos visuales de partículas. 
      El formulario envía los datos a la URL especificada usando el método POST.-->
<link rel="stylesheet" type="text/css" href="/static/css/design.css">

<h3>
    <CENTER> <b> Agregar Area </b> </CENTER>
      
</h3>
   <br>
   <br>
   <br>
<form action="/area_fagrega" method="post">
   <div class="container">
          <div class="form-row">
               <div class="col-xs-12 ">
                <div class="mb-3">
                      <label for="descripcion" class="form-label">Area</label>
                      <input type="text" class="form-control" name="descripcion" id="descripcion"></input>
                </div>
                </div>
          </div>
    </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<div id="particles-js"></div>
<script src="/static/js/particles.min.js"></script>
<script src="/static/js/app.js"></script>
{% endblock %}